.login-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}
.user-message { 
  margin: auto;
  width: 30rem;
  border: 1px solid #4771fa;
  padding: 1rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;

 }
 
 .user-message--error{
   border-color: red;
   background: rgb(255,176,176);
 }